.button {
    border-radius: 100px;
    padding: rem(10) rem(20);
    background-color: $colors-gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: rem(4);
    width: fit-content;
    box-sizing: border-box;
    &__label {
        font-size: rem(14);
        font-weight: 500;
        line-height: rem(24);
    }
    cursor: pointer;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }

    &_disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &_storage {
        pointer-events: none;
        span {
            font-size: rem(16);
            font-weight: 600;
        }
        border-radius: 5px;
    }

    &_primary {
        background-color: $colors-primary;
        color: white;
    }

    &_outline-primary {
        background-color: white;
        outline: 2px solid $colors-primary;
        outline-offset: -2px;
        color: $colors-primary;
    }

    &_text-primary {
        background-color: white;
        border: none;
        padding: 0;
        color: $colors-primary;
    }

    &_default {
        background-color: $colors-gray-l;
        color: $colors-black;
    }

    &_outline-default {
        background-color: white;
        outline: 2px solid $colors-gray-l;
        outline-offset: -2px;
        color: $colors-gray-l;
    }
    
    &_text-default {
        background-color: white;
        border: none;
        padding: 0;
        color: $colors-black;
    }
    

}