.button {
    border-radius: rem(100);
    padding: rem(10) rem(20);
    background-color: $colors-gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: rem(4);
    &__label {
        font-size: rem(14);
        font-weight: 500;
    }
    cursor: pointer;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }

    &_disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &_primary {
        background-color: $colors-primary;
        color: white;
    }

    &_outline-primary {
        background-color: white;
        border: 2px solid $colors-primary;
        color: $colors-primary;
    }

}