.main {
    flex: 1 1 auto;
}

.main-block{

    &__container{

    }
    &__title{
        font-size: rem(16);
        font-weight: 500;
    }
    &__forms{
        display: flex;
        flex-direction: column;
        gap: rem(10);
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: rem(20);
    }
}